body{
    background-color: #F2F3ED;
    max-width: 800px;
}
#header{
    background-color: #323639;
    width: 100%;
    overflow: hidden; /* can also be "auto" */
    margin-bottom: 10px;
}

#header h1{
    color: #EFCA43;
    width: 45%;
    float: left;
    font-family: sans-serif;
    font-weight: normal;
    font-size: 50px;
    padding-left: 30px;
}
#one{
    color: lightgrey;
    font-weight: lighter;
    width: 45%;
    height: 100%;
    float: right;
    vertical-align: bottom;
    text-align: right;
    padding-right: 30px;
    margin-top: 70px;
}
#header p a{
    color: white;
    font-weight:bolder;
}

#top{
    background-image:url(../Assets/big_img.jpg);
    background-size: cover;
    background-position: left top;
    background-repeat: no-repeat;
    color:#323639 ;
    overflow: hidden;
    height: 355px;
    margin-bottom: 10px;
    font-family: cursive;
    padding-left: 10px;
}
#top h1{
    float: left;
    width: 40%;
    font-size: 30px;
    margin: 0px;
    margin-bottom: 5px;
}
.holder{
    overflow: hidden;
    float: left;
    border-top:1px solid grey;
    border-bottom:1px solid grey;
    position: relative;
    margin: 0px;
    margin-top: 5px;
}
.holder:after{
    padding:0;margin:0;display:block;/* not really needed */
    content: "";
    width:0%;
    height:1px;
    background-color:white;
    position: absolute;
    right:0;
    top:-1px;
}
#holder{
    float: left;
    width: 100%;
}
#top # p{
    float: left;
    padding: 2px;
    width: 50%;
}
#intro{
    background-color: white;
    padding: 10px;
    font-family: sans-serif;
}
#intro p {
    color: gray;
}
#intro button{
    background-color: black;
    color: white;
    font-weight: lighter;
    border: black;
    border-radius: 20px;
    font-size: 20px
}
#more{
    background-color: white;
    width: 100%;
    overflow: hidden;
    margin-top: 10px;
    text-align: center;
    font-family: sans-serif;
}
#more p{
    color: gray;
    
}
#more ul{
    list-style: none;
}
#more li{
    float: left;
    width: 32%;
}
#more img{
    margin-left: auto;
    margin-right: auto;
}
.text{
    width: 100%;
    height: auto;
    background-color: white;
    font-family: sans-serif;
}
.text img{
    width: 100%;
    height: auto;
}
#texta{
    width: 50%;
    float: left;
}
#textb{
    width: 50%;
    float: right;
}
p{
    color: gray;
}
#footer{
    background-color: #323639;
    font-family: sans-serif;
    text-align: center
}
#footer p{
    color: #EFCA43;
}
#footer a{
    color: #EFCA43;
}